<!-- <div class="test">
<h1>team 쭌 vs 맨체스터 유나이티드</h1>
</div> -->
<!-- 
<div class="wrapper">
  <div class="product-img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTsZZgGqu6p_uhJ-k3P0wjKSEVNdvSRWVJOM9pcFEG8RJabIx5" height="420"
      width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>매치 정보</h1>
      <mat-list>
        <mat-list-item>
          <mat-icon>location_on</mat-icon>
          구장 : {{match.location}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>date_range</mat-icon>
          날짜 : {{match.start_date | date}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>access_time</mat-icon>
          시간 : {{match.start_time}} ~ {{match.end_time}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>home</mat-icon>
          Host 팀 : {{match.host_team}}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>home</mat-icon>
          Away 팀 : {{match.away_team}}
        </mat-list-item>
        <mat-list-item *ngIf="result; else other">
          <mat-icon>sentiment_very_satisfied</mat-icon>
          승팀 : {{match.result}}
        </mat-list-item>
        <ng-template #other>
          <strong>*아직 경기 결과 값이 없습니다*</strong>
        </ng-template>

      </mat-list>
    </div>
    <div class="product-price-btn">
    </div>
  </div>
</div> -->



<!-- <div *ngIf="auth.isLoggedIn()">
  <mat-form-field>
    <textarea matInput [(ngModel)]="text" placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <button mat-raised-button (click)="submit()">작성</button>
</div> -->

<!-- <div style="cursor:pointer" class="vs">
        <img src={{match.thumbnail}} alt="Notebook" style="width:50%">
        <img src={{match.thumbnail}} alt="Notebook" style="width:50%">
</div> -->

<div class="body">
<mat-card class="card_wrap" >
  <h1>Match Detail</h1>
  <div class="al">
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="0.5%">
        <div style="cursor:pointer" class="card">
                <img src={{match.thumbnail}} alt="Notebook" style="width:100%">
        </div>
    </div>
    <h2>VS</h2>
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="0.5%">
        <div style="cursor:pointer" class="card">
                <img src={{defaultImage}} alt="Notebook" style="width:100%">
        </div>
    </div>
  </div>
  <mat-card-content>
    <h3 style="font-weight:bold; color:black;">{{match.location}}</h3>
    <h3>{{match.start_date | date}}</h3>
    <h3>{{match.start_time}} ~ {{match.end_time}}</h3>
    <p>Host team : {{match.host_team}}</p>
    <p>Away team : {{match.away_team}}</p>
    <p *ngIf="result">Winner : {{match.result}}</p>
  </mat-card-content>
</mat-card>
  

<div class="container">
    <div class="form-group">
      <textarea class="form-control status-box" rows="3" placeholder="Enter your comment here..."  [(ngModel)]="contents" ></textarea>
    </div>
  <div class="button-group pull-right">
    <button (click)="action()" class="btn btn-primary">Post</button>
  </div>
</div>

<mat-list class="posts" *ngFor="let comment of comments">
  <!-- <h4>작성자 : {{comment.writer}}({{comment.timestamp | date}})</h4> -->
  <mat-list-item class="li">{{comment.content}} - {{comment.writer}}({{comment.timestamp | date}})</mat-list-item>
</mat-list>

<div class="selectWin" *ngIf="condition">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedTeam" placeholder="승자 선택">
      <mat-option [value]="host">
        {{ host.name }}
      </mat-option>
      <mat-option [value]="away">
        {{ away.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="changeStatus()">확인</button>
</div>

</div>