// /* 
// * Design by Robert Mayer:https://goo.gl/CJ7yC8
// *
// *I intentionally left out the line that was supposed to be below the subheader simply because I don't like how it looks.
// *
// * Chronicle Display Roman font was substituted for similar fonts from Google Fonts.
// */
.body{
  height : 100vh;
  // background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQAzJvDyk7a9vE8Y5mCxd6QySUd021Abm1zbdZYGPGRpb85HC3qg");
  // background-size: 100% 100%;
  // opacity: 1;
}
 .container {
   margin-top: 20px;
 }

 .selectWin{
   position :relative;
 }
 .card{
   max-width : 500px;
 }

.card img {
  width:100px;
  height:100px;
}

 .al{
   display: inline-flex;
 }
 .card_wrap{
  max-width : 430px;
  margin:0 auto;
  text-align : center;
  background-image : url("https://firebasestorage.googleapis.com/v0/b/myteam-af335.appspot.com/o/KakaoTalk_20180609_011154707.png?alt=media&token=d51e4cb1-fefe-472f-af02-10a79046e8e3");
  background-size: cover;
  color: white;
}
