<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="0.5%">
    <div style="cursor:pointer" class="container" *ngFor="let match of matches">
        <div routerLink="/matchingDetail/{{match.id}}">
            <img src={{match.data.image}} alt="Notebook" style="width:100%">
            <div class="content">
                <h4 class="hn"> Match Info </h4>
                <p class="jg">
                    <i class="material-icons">people</i> : {{match.data.host_team}} </p>
                <p class="jg">
                    <i class="material-icons">calendar_today</i> : {{match.data.start_date | date }}</p>
                <p class="jg">
                    <i class="material-icons">access_time</i> : {{match.data.start_time}} ~ {{match.data.end_time}}</p>
                <p class="jg">
                    <i class="material-icons">location_on</i> : {{match.data.location}}</p>
            </div>
        </div>
    </div>
</div>


<div align="right">
    <button *ngIf="!match.data.isMatched else other" (click)="matchRequest(match)" color="primary" mat-button>매치 신청</button>
    <ng-template #other>
        <strong>매치완료</strong>
    </ng-template>
</div>

<div class="matchEnroll">
    <button *ngIf="auth.isLoggedIn()" routerLink="/createMatch" color="primary" mat-raised-button>매치 등록</button>
</div>