<h1 class="mat-h1"></h1>
<div class="flex-container">
  <div *ngFor="let Element of element_data">
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar src="{{Element.image}}" alt="Photo of a team">

        <mat-card-title>{{Element.position}}- "{{Element.name}}"</mat-card-title>
        <mat-card-subtitle>승률: {{Element.win}}/{{Element.match_num}} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <nav>팀원1- 학번:213, 이름: 떙떙떙</nav>
        <nav>팀원2- 학번:212, 이름: 랄라라</nav>
        <nav>팀원3- 학번:211, 이름: 딘동댕</nav>
        <nav>팀원4- 학번:212, 이름: 어 </nav>
        <nav>팀원5- 학번:214, 이름: 음</nav>
        <nav>팀원6- 학번:215, 이름: 그래</nav>


      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<button mat-fab color="primary"> + </button>