
  @import "@angular/material/prebuilt-themes/indigo-pink.css";

  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-image:url("http://file.gamedonga.co.kr/files/2018/05/01/fifawo.jpg");
    background-size: 100% 100%;
    background-color: #f1f1f1;
    overflow: hidden;

  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 317px;
    margin: 19.5px;
    text-align: left;
    line-height: 30px;
    font-size: 30px;

    
  }
  /* .example-card {
    max-width: 400px;
    position : absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

  } */
  .myVideo{
    margin : 0;
  }
  /* .si_def{
    height: 70%;
  } */
 

  /* @import "@angular/material/prebuilt-themes/indigo-pink.css";
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */