
  @import "@angular/material/prebuilt-themes/indigo-pink.css";

  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-image:url("http://file.gamedonga.co.kr/files/2018/05/01/fifawo.jpg"); */
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcnHDvsgUtYmUSzEdMK_efY15XzX1vgwETGc6M874GR4IXmthiUA");
    background-size: 100% 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    /* opacity : 0.7; */

  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 317px;
    margin: 19.5px;
    text-align: left;
    line-height: 30px;
    font-size: 30px;
  }
  
  /* .example-card {
    max-width: 400px;
    position : absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

  } */
  .myVideo{
    margin : 0;
  }
  /* .si_def{
    height: 70%;
  } */
 

  /* @import "@angular/material/prebuilt-themes/indigo-pink.css";
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

  h1,h2,h3,h4,h5,h6,p {
    font-family: 'Nanum Gothic Coding', monospace;
  }