
<header>
    <h1 class="mat-h1"> 한동 매칭 프로그램</h1>
    <h2 class="mat-h2"> 팀을 등록하고 상대팀에 도전해보세요! </h2>
</header>
<mat-divider></mat-divider>
<div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <h4>상위 팀</h4>
        </mat-grid-tile>
        <mat-grid-tile>
            <h4>매칭 리스트</h4>
        </mat-grid-tile>
    </mat-grid-list>

</div>
<mat-divider></mat-divider>
<!-- <button mat-raised-button color="primary">Click Me</button>
<mat-slide-toggle>Slide me!</mat-slide-toggle> -->
