<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">
                <p class="jg"> 한동 매칭 프로그램 </p>
            </h1>
            <h2>
                <p class="np">팀을 등록하고 상대팀에 도전해보세요!</p>
            </h2>
        </div>
        <div class="docs-header-start">
            <a mat-raised-button class="docs-button" routerLink="/notice">Get started</a>
        </div>
    </div>

</header>

<mat-divider></mat-divider>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="example-card" fxFlex="33%">
        <mat-card-header>
            <mat-card-title>
                <h2>
                    <p class="jg"> 최근 올라온 매치
                        <i class="material-icons">assistant_photo</i>
                    </p>
                </h2>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-table class="recentMatches" [dataSource]="matches">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        <p class="jg"> 팀 이름</p>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img src="{{element.data.thumbnail}}" mat-card-avatar>
                        <span class="ngc"> {{element.data.host_team}} </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>
                        <p class="jg"> 일시 </p>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="ngc">{{element.data.start_date | date}}</p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="matchDisplayedColumns"></mat-header-row>
                <mat-row routerLink='/matchingDetail/{{row.id}}' *matRowDef="let row; columns: matchDisplayedColumns;"></mat-row>
            </mat-table>

        </mat-card-content>
        <mat-card-actions>

            <button routerLink='/matching' mat-button>
                <p class="hn">더 보기</p>
            </button>

        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" fxFlex="33%">
        <mat-card-header>
            <mat-card-title>
                <h2>
                    <p class="jg"> 팀순위</p>
                </h2>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-table [dataSource]="ranks">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> 팀 이름</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img src="{{element.thumbnail}}" mat-card-avatar>
                        <span class="ngc"> {{element.name}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="win">
                    <mat-header-cell *matHeaderCellDef> 순위 </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.win}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="rankDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: rankDisplayedColumns;"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink='/rank' mat-button>
                <p class="hn">더 보기</p>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" fxFlex="33%">
        <mat-card-header>
            <mat-card-title>
                <h2>
                    <p class="jg"> 공지사항</p>
                </h2>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-table class="notice" [dataSource]="notices">
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="ngc">{{element.data.title}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef> 일시 </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="ngc">{{element.data.timestamp | date}}</p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="noticeDisplayedColumns"></mat-header-row>
                <mat-row routerLink='/notice/{{row.id}}' *matRowDef="let row; columns: noticeDisplayedColumns;"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink='/notice' mat-button>
                <p class="hn">더 보기</p>
            </button>
        </mat-card-actions>
    </mat-card>

</div>
<mat-divider></mat-divider>
<!-- <button mat-raised-button color="primary">Click Me</button>
<mat-slide-toggle>Slide me!</mat-slide-toggle> -->