<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Handong Matching System</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
    <div fxLayout fxLayoutGap="10px" class="navigation-items">
      <a mat-button routerLink="/main">Home</a>
      <a mat-button routerLink="/rank">기록/순위</a>
      <a mat-button routerLink="/matching">Matching</a>
      <a mat-button routerLink="notice">공지사항</a>
      <a *ngIf="auth.isLoggedIn()" mat-button routerLink="/myteam">My Team</a>
      <a *ngIf="!auth.isLoggedIn()" mat-button routerLink="/login">Login</a>
      <a *ngIf="auth.isLoggedIn()" style="cursor: pointer" mat-button (click)="auth.logout()">Logout</a>
    </div>
  </div>
</mat-toolbar>