<mat-toolbar color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Handong Matching System</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
    <div fxLayout fxLayoutGap="10px" class="navigation-items">
      <a mat-button routerLink="/main"><i class="material-icons">home</i> </a>
      <a mat-button routerLink="/rank"><i class="material-icons">equalizer</i></a>
      <a mat-button routerLink="/matching"><i class="material-icons">group</i>vs<i class="material-icons">group</i></a>
      <a mat-button routerLink="notice"><i class="material-icons">assignment</i></a>
      <a *ngIf="auth.isLoggedIn()" mat-button routerLink="/myteam"><i class="material-icons">person_pin</i></a>
      <a *ngIf="!auth.isLoggedIn()" mat-button routerLink="/login">Login</a>
      <a *ngIf="auth.isLoggedIn()" style="cursor: pointer" mat-button (click)="auth.logout()">Logout</a>
      <mat-icon *ngIf="auth.isLoggedIn()" style="cursor: pointer" (click)="pop()">notifications_active</mat-icon>

    </div>
  </div>
</mat-toolbar>