<!-- <div>
  <button mat-raised-button>팀 순위</button>
  <button mat-raised-button>개인 순위</button>
</div> -->

<!-- <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">select 시즌</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>18-1</button>
    <button mat-menu-item>17-2</button>
  </mat-menu> -->


<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header><p class="jg">팀 순위</p>  </mat-header-cell>
      <mat-cell *matCellDef="let element"><p class="ngc"> {{element.position}}</p> </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <p class="jg">팀명</p> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p class="ngc"><img src="{{element.thumbnail}}" mat-card-avatar> {{element.name}}</p>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="match_num">
      <mat-header-cell *matHeaderCellDef mat-sort-header><p class="jg">경기수 </p></mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="ngc">{{element.match_num}} </p></mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="win">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <p class="jg">승</p> </mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="ngc">{{element.win}} </p></mat-cell>
    </ng-container>

    <ng-container matColumnDef="lose">
      <mat-header-cell *matHeaderCellDef mat-sort-header> <p class="jg">패</p> </mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="ngc"> {{element.lose}}</p> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>